:root {
    font-family: 'Cormorant Garamond', serif;
    font-size: calc(1em + .3vmin);
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'IBM Plex Serif', serif;
}

body {
    width: 100%;
    padding: 10vmin 25vmin;
}